* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E11364;
    color: black;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

h1, h2 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 60px;

}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

header {
    background-color: #BC105C;
    margin-bottom: 10px;
    padding: 10px;
    border-inline: 4px solid #ffffff;
    text-align: center;
}

main {
    background-color: #BC105C;
    padding: 10px;
    border-radius: 3px;
}

article {
    background-color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}


.article-title {
    font-size: 25px;
    color: #E11364;
    text-align: right;
    border-bottom: #E11364 dotted 2px;
    margin-bottom: 18px;
    font-weight: bold;
}

img {
    width: 100%;
}


.boton_comprar {
    text-align: center;
}

a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #2C8F20;
    padding: 1%;
    border-radius: 5px;
    line-height: 4;
}

    a:link, a:visited, a:focus {
        background: #2C8F20;
    }

    a:hover {
        background: #E11364;
    }
  
    a:active {
        background:#BC105C;
        color: white;
    }

footer {
    background-color:#E96093;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-align: center;
    color: white;
}